@import "tailwindcss";

body {
  width: 100%;
  height: 100%;
}

.container {
  @apply w-full h-full;
}

.flex-col {
  @apply flex flex-col;
}

.flex-row {
  @apply flex flex-row;
}

.flex-center {
  @apply flex justify-center items-center;
}